@model IEnumerable<StudentModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">SocialNumber</th>
            <th scope="col">University</th>
            <th scope="col">Semester</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Birthdate</td>
                <td>@student.SocialNumber</td>
                <td>@student.University</td>
                <td>@student.Semester</td>
            </tr>
        }
    </tbody>
</table>